body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%; 
    height: 50px; 
    display: flex;
    justify-content: space-between;
}
.nav-bar{
    display: flex;
    justify-content: flex-end;
    list-style: none;   
    text-transform: uppercase;
    font-size: 12px; 
}

li{
    margin: 15px 5px;
}
.logo{
    height: 30px;
    margin: 14px 30px; ;
}
section{
    width: 100%; 
    height: 200px; 
    background-image: linear-gradient(rgb(242, 122, 122), rgb(130, 247, 130), white );
    /* background-color: rgb(45, 211, 197); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
}
.hero{
    width: 100%;
    background-color: rgb(8, 96, 122);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-info{
   
    background-color: red;
    margin: 30px;
    max-width: 300px;
}

.styled-break{
    width: 30px;
    height: 5px;
    background-color: rgb(8, 96, 122);
    border-radius: 2.5px;
    margin: 30px 0;
}
.profile-photo{
    width: 100px;
    border-radius: 50%;
}

#name {
    font-size:40px ;
}

.test{
    width: 30px;
    height: 30px;
    background-color: rgb(111, 94, 84); 
    margin: 5px;
    box-shadow: 5px 5px 13px  grey;
}

.button{
    border: 0;
    padding: 0 10px;
    width: 150px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(119, 128, 119) ;
    background-image: linear-gradient(to top left,rgb(242, 122, 122), rgb(130, 247, 130) );
    box-shadow: inset 2px 2px 3px black, 
    inset -2px -2px 3px white;
    border-radius: 50px;
    line-height: 1.5;
}

.button:hover {
    box-shadow: inset 2px 2px 3px white;
}

a { 
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(242, 122, 122);
}
a:active{
    color: blue;
}
